<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>Posty</div>
    <div>
        <a href="{{ url_for('post_add') }}">New</a>
    </div>
    <div>
        {% for post in posts %}
        <img src="{{post.photo_url}}">
        <div>{{post.name}}</div>
        <div>{{post.body}}</div>
        <div>
            <a href="{{ url_for('post_delete', id=post.id) }}">Delete</a>
        </div>
        |<div>
            <a href="{{ url_for('post_update', id=post.id) }}">Edit</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
